{% extends 'base_main.html' %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
      <div class="siteIcon"><img src="/static/images/icon/icon.png" alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用异清轩博客管理系统" draggable="false" /></div>
      <form action="" method="post" autocomplete="off" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">管理员登录</h2>
        <label for="userName" class="sr-only">用户名</label>
        <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10">
        <label for="userPwd" class="sr-only">密码</label>
        <input type="password" id="userPwd" name="userpwd" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
{#        <a href="{% url 'acticle:index' %}">#}
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button>
{#        </a>#}
      </form>
      <div class="footer">
        <p><a href="{% url 'acticle:index' %}" data-toggle="tooltip" data-placement="left" title="不知道自己在哪?">回到后台 →</a></p>
      </div>
    </div>
{% endblock %}

<!--个人信息模态框-->
    {% block personal_information %}
    {% endblock %}

    <!--个人登录记录模态框-->
    {% block personal_record %}
    {% endblock %}

    <!--微信二维码模态框-->
    {% block wechat %}
    {% endblock %}

    <!--提示模态框-->
    {% block hint %}
    {% endblock %}

    <!--右键菜单列表-->
    {% block footer %}
    {% endblock %}
{% block js2 %}
    <script src="/static/js/bootstrap.min.js"></script>
        <script>
        $('[data-toggle="tooltip"]').tooltip();
        window.oncontextmenu = function(){
            //return false;
        };
        $('.siteIcon img').click(function(){
            window.location.reload();
        });
        $('#signinSubmit').click(function(){
            if($('#userName').val() === ''){
                $(this).text('用户名不能为空');
            }else if($('#userPwd').val() === ''){
                $(this).text('密码不能为空');
            }else{
                $(this).text('请稍后...');
            }
        });
    </script>
{% endblock %}
